:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

* {
    box-sizing: inherit;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;

    width: 500px;
    margin: auto;
    padding-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input,
select {
    margin-bottom: 10px;

    width: 200px;
    height: 25px;
}

/* This is our style for the invalid fields */
input:invalid {
    border-color: #900;
    background-color: #fdd;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* This is the style of our error messages */
  .error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }